*{
margin: 0;
padding: 0px;
}

body {
background-color: #000000;
margin:0px;
color: #fff
}

h2, h3{
    margin: 20px;
}

  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .subtitulo {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
  }
  

  
.introducao {
    max-width: 100%;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
    border-top: 10px solid #141414;

}


.header {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  border-width: 100%;
}
  
  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .header-menu a {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    display: block;
  }
  

  .formacao {
    background: #141414;
    color: #ffffff;
  }
  
  .formacao-container {
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    gap: 100px;
    position: relative;
  }
  
  .formacao-container::after {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    position: absolute;
    bottom: -50px;
    left: 20px;
  }
  
  .formacao .subtitulo {
    color: #000000;
    max-width: 5ch;
  }
  
  .formacao-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
  }
  
  .formacao-texto strong {
    color: #ffffff;
  }
  
  .faculdade-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
  }
  
  .faculdade {
    flex: 1;
    background: #000000;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .faculdade-tipo {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
  }

  .faculdade-curso {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
  }

  .faculdade-instituicao {
    font-size: 1.125rem;
    color: #a3a3a3;
  }
  
  .experiencia {
    background: #0000;
    color: #ffffff;
  }
  
  .experiencia-container {
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    gap: 100px;
    position: relative;
  }
  
  .experiencia-container::after {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    position: absolute;
    bottom: -50px;
    left: 20px;
  }
  
  .experiencia .subtitulo {
    color: #000000;
    max-width: 5ch;
  }
  
  .experiencia-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
  }
  
  .experiencia-texto strong {
    color: #ffffff;
  }
  
  .empresa-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    gap: 20px;
    margin-bottom: 60px;
  }
  
  .empresa {
    flex: 1;
    background: #141414;

    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .empresa-tipo {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
  }

  .empresa-cargo {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
  }

  .empresa {
    font-size: 1.125rem;
    color: #a3a3a3;
  }
  
  .empresa-nome {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
  }

  
  .projetos {
    background: #0000;
    color: #ffffff;
  }
  
  .projetos-container {
    max-width: 1200px;
    padding: 120px 20px;
    margin: 0 auto;
    gap: 100px;
    position: relative;
  }
  
  .projetos-container::after {
    content: "";
    display: block;
    width: 130px;
    height: 100px;
    position: absolute;
    bottom: -50px;
    left: 20px;
  }
  
  .projeto .subtitulo {
    color: #000000;
    max-width: 5ch;
  }
  
  .experiencia-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 40ch;
    margin-bottom: 60px;
    color: #a3a3a3;
  }
  
  .projeto-texto strong {
    color: #ffffff;
  }
  
  .projetos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    gap: 20px;
    margin-bottom: 60px;
  }
  
  .projeto {
    flex: 1;
    background: #141414;

 
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .projeto-tipo {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
  }

  .projeto-cargo {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
  }

  .projeto {
    font-size: 1.125rem;
    color: #a3a3a3;
  }
  
  .projeto-nome {
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
  }
